@model MCE_Electronic_Orders.Models.MarketBranchHd

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>
<h3><b>هل انت متأكد من حذف الطلب وجمع المواد التابعه له؟ </b></h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequsetDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequsetDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptSer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptSer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderNo" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="create" class="btn btn-info">رجوع للقائمة</a>
    </form>
</div>
